.btn {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  padding: 0.5em 1.5em;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1em;
  //width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
  //color: #3d3d3d;
  border: 2px solid $col;
  color: $col;
  transition: all 0.2s;
  &:hover {
    //color: black;
    color: white;
    background: $col;
  }
  &.left {
    text-align: left;
  }
}

.button-group {
  display: inline-block;
  border: 2px solid $col;
  .btn {
    display: inline-block;
    border: none;
    border-right: thin solid $col;
    margin: 0;

    &:last-child {
      border: none;
    }
  }
}

@media screen and (max-width: 1050px) {
  .button-group .btn {
    width: 100%;
    border:none;
    border-bottom: thin solid $col;
  }
}
