// removed - out: ../., compress: false
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Casse os Políticos
    link(rel='stylesheet', href='css/app.min.css')
  body
    .hint
    include start-modal
    include modal
    include information
    script(src='coffee/app.js')
