span.ion-ios-information-outline.info-btn
.window.info-window.hidden
  span.close ×
  h1.title.light #[span.ion-ios-information-outline] Informações
  p Ó lá!
  p
    | Esse é um site apartidário que não possui objetivo nenhum de promover ou depreciar qualquer partido político
  p.border-bottom
    | Observação: estamos apenas na versão alpha(α) do jogo Casse o Político™. Por favor doe dinheiro
  p.border-bottom Você já jogou: 1000000h
  p
    | Alguma sugestão? Faltou algum político? Entre em contato em: 
    a(href='mailto:casseopolitico@gmail.com') casseopolítico@gmail.com
