.modal.hidden
  .left
    h1.title Político Cassado!
    p Total de pontos: #[span.pontos]
    .button-group
      button.btn.btn-left Casse de Novo!
      button.btn.btn-left Casse outro político!
  img.polImgModal(src='')
