.modal.hidden
  .left
    h1.title Político Cassado!
    p Total de pontos: #[span.pontos]
    .button-group
      button.btn.btn-left.repeat Casse de Novo!
      button.btn.btn-left.switch Casse outro político!
  img.polImgModal(src='')
