.start-modal
  h1.title.center Escolha o Político
  ul.pol-list
    li.active: img(src='img/temer.png', alt='Temer')
    li: img(src='img/Dilma.png', alt='Dilminha')
    li: img(src='img/Cunha.png', alt='Cunha')
  button.btn Start
