.start-modal
  h1.title.center Escolha o Político
  ul.pol-list
    li.active: img(src='img/temer.png', alt='Temer', data-pol='0')
    li: img(src='img/Dilma.png', alt='Dilminha', data-pol='1')
    li: img(src='img/Cunha.png', alt='Cunha', data-pol='2')
  button.btn Start
